{% extends 'base.html.twig' %}


{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    table tr:nth-child(odd){background-color: #e7e0e7;}
    table tr:nth-child(even){background-color: #aea9ae;}
    table tr th{background-color: #373537; color: white;}
    table tr td, table tr th {padding: 0 6px}
</style>

<div class="example-wrapper">

    <h1>Coachs</h1>
    
    <table>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Bio</th>
            <th>Sa grosse tête</th>
        </tr>
        {% for coach in coachs %}
            <tr>
                <td>{{ coach.name }}</td>
                <td>{{ coach.lastname }}</td>
                <td>{{ coach.email }}</td>
                <td>{{ coach.bio }}</td>
                <td><img src="{{ vich_uploader_asset(coach , 'imageFile') }}" /></td>
            </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}
