{% extends 'base.html.twig' %}

{% block body %}
    <h1>Affiche toi royaa</h1>

    <table>
        <thead>
            <tr {{ 'style="background-color: grey"' }}>
                <th>bla </th>
                <th>bla1 </th>
                <th>bla2 </th>
            </tr>
        </thead>
        {% for key in viewTra %}


                <td {{ 'style="background-color: pink"' }}>
                    {{ key.title }}
                    {{ key.duration }}
                    {{ key.intensite }}
                    {{ key.day|date('d') }}
                    {{ key.hours|date('d') }}
                </td>
        {% endfor %}
    </table>

{% endblock %}