{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    table tr:nth-child(odd){background-color: #e7e0e7;}
    table tr:nth-child(even){background-color: #aea9ae;}
    table tr th{background-color: #373537; color: white;}
    table tr td, table tr th {padding: 0 6px}
</style>

    <h1>Profil</h1>

    <img src="{{ vich_uploader_asset(user , 'imageFile') }}" />
    <p>Prénom : {{ user.username }}</p>
    <p>Nom : {{ user.lastname }}</p>

    <h3>Mes cours</h3>
    <table>
        <tr>
            <th>Titre</th>
            <th>Date</th>
            <th>Heure</th>
        </tr>
        {% for training in trainings %}
            <tr>
                <td>{{ training.title }}</td>
                <td>{{ training.day|date('Dd') }}</td>
                <td>{{ training.hour|date('H:i') }}</td>
            </tr>
        {% endfor %}
    </table>

    <h3>Mes évènements</h3>

    <table>
        <tr>
            <th>Titre</th>
            <th>Date</th>
            <th>Heure</th>
        </tr>
        {% for event in events %}
            <tr>
                <td>{{ event.title }}</td>
                <td>{{ event.day|date('Dd') }}</td>
                <td>{{ event.hour|date('H:i') }}</td>
            </tr>
        {% endfor %}

    </table>
<br>

    <a href="{{ path('profil_edit') }}">Modifier mes informations</a>

{% endblock %}