{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}
{% block body %}
    <h1>Modifier mon profil</h1>

    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
        {{ form_row(form.imageFile) }}

        <button type="submit">Modifier</button>
        <a href="{{ path('profil') }}">Retour à mon profil</a>


    {{ form_end(form) }}
{% endblock %}